@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.sidemenu{
  background-color:#fff;
  padding: 3% 0 0 4%;
  
  
}
.menu{
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}
.contentbody{
  background-color: rgb(229, 231, 231);
  padding: 3% 0 0 4%;
}
.homePara{
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}